/* *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
} */

 /* body{ */
 /* background-image: url('backImg.png');
 border-image-repeat:repeat; */
 /* background-color: rgb(20, 20, 20);
 color: white;
 overflow: hidden;
 overflow-y: auto; */
/* }  */